@charset "utf-8";

/* CSS Document */ /*login页面的样式表开始*/
html,body {
	margin: 0px;
	height: 100%;
	overflow: hidden;
}

#loginwirp {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image:
		url('http://202.206.100.208/jxzc/App_Themes/images/004.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	filter: progid : DXImageTransform . Microsoft . AlphaImageLoader(src =
		'http://202.206.100.208/jxzc/App_Themes/images/004.jpg',
		sizingMethod = 'scale');
}

.logintext {
	position: absolute;
	top: 42%;
	left: 60%;
	width: 620px;
	height: 320px;
	overflow: hidden;
}

.loginforminputname {
	width: 270px;
	height: 25px;
}

.loginforminputpassword {
	width: 270px;
	height: 25px;
	margin-top: 10px;
}

.loginforminputyan {
	width: 210px;
	height: 25px;
	margin-top: 10px;
}

.logintextname {
	width: 63px;
	height: 20px;
	float: left;
	font-size: 14px;
	padding-left: 5px;
	padding-top: 5px;
}

.loginiptname {
	width: 152px;
	height: 20px;
	float: left;
}

.logininfo {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	z-index: 2;
	overflow: hidden;
	color: #FFFFFF;
}
/*login页面的样式表结束*/